* {	padding: 0; margin: 0; vertical-align: top; }

body {
	background: url(../img/bg-subtle.png);
	font: 18px/1.5em "proxima-nova", Helvetica, Arial, sans-serif;
}

a {	color: #069; }
a:hover { color: #28b; }

.pin h2 {
	font-family: 'Oswald', sans-serif;
	font-size: 33pt;
	font-weight: bold;
	margin: 3px 3px 3px 3px;
}

.pin h3 {
	font-family: 'Open Sans', sans-serif;
	font-size: 18pt;
	font-weight: bold;
	margin: 6px 3px 0px 3px;
}

.pin p {
	font-family: 'Open Sans', sans-serif;
	font-size: 10pt;
	font-weight:normal;
}

div.titlebar {  /* Specifies position, size, and style of the titlebar */
	height: 24px;
    width: 100%;
    background-color: #EFEFEF;
    border-bottom: groove #999999 1px;
	margin: 0 0 0 0;
    padding: 3px 5px 2px 5px;
	font-family: 'Open Sans', sans-serif;
	font-size: 10pt;
	font-weight:bold;
}

div.titlebar2 {  /* Specifies position, size, and style of the titlebar */
	height: 39px;
    width: 100%;
    background-color: #EFEFEF;
    border-bottom: groove #999999 1px;
	margin: 0 0 0 0;
    padding: 3px 5px 2px 5px;
	font-family: 'Open Sans', sans-serif;
	font-size: 10pt;
	font-weight:bold;
}

div.menubar {  /* Specifies position, size, and style of the titlebar */
	height: 36px;
    width: 100%;
    background-color: #F4F4F4;
	margin: 0 0 0 0;
    padding: 3px 5px 2px 5px;
	font-family: 'Open Sans', sans-serif;
	font-size: 10pt;
	font-weight: normal;
}

#footer {
	margin-top: 25px;
	margin-bottom: 10px;
	text-align: center;
	font-size: 12px;
	color: #999;
}

.pin {
	display: inline-block;
	width: 100% !important;
	background: #F4F4F4;
	border: 2px solid #FAFAFA;
	box-shadow: 0 1px 2px rgba(34, 25, 25, 0.4);
	margin: 6px 0 6px 0;
	opacity: 1;
}

.floatbar {
	float: left;
	margin-left: 6px;
}

.floatbarright {
	float: right;
	margin-right: 6px;
}

.statusbar {
	float: left;
	width: auto;
	background: #F4F4F4;
	border: 2px solid #FAFAFA;
	box-shadow: 1px 1px 0 rgba(34, 25, 25, 0.4);
	margin: 6px 0 2px 9px;
	opacity: 1;
	font-family: 'Open Sans', sans-serif !important;
	font-size: 9pt !important;
	font-weight: normal !important;
}

.progressbar {
	float: left;
	width: 18%;
	height: 1.7em;
	background: #F4F4F4;
	border: 2px solid #FAFAFA;
	box-shadow: 1px 1px 0 rgba(34, 25, 25, 0.4);
	margin: 6px 0 2px 9px;
	opacity: 1;
	font-family: 'Open Sans', sans-serif !important;
	font-size: 9pt !important;
	font-weight: normal !important;
}

#progressbar .ui-progressbar {
	height: 2em;
	text-align: left;
	overflow: hidden;
}

#progressbar .ui-progressbar-value {
	margin: -1px;
	height: 100%;
	background-color: #ccc;
}

#tabs {
	font-size: 9pt;
}
	
.button { 
    height: auto;
    width: auto;
	padding-top: -6px !important;
	font-family: 'Open Sans', sans-serif !important;
	font-size: 10pt !important;
	font-weight:bold !important;
}

.smallbutton {
	height: auto;
	width: auto;
	margin: -2px 0 0 6px !important;
	padding-top: -6px !important;
	font-family: 'Open Sans', sans-serif !important;
	font-size: 8pt !important;
	font-weight:normal !important;
}

.checkbox { 
    height: 1.7em !important;
    width: 1.7em !important;
	margin: 6px 0 0 12px !important;
}

.checkboxlabel { 
    height: auto;
    width: auto;
	padding-top: 2px !important;
	font-family: 'Open Sans', sans-serif !important;
	font-size: 9pt !important;
	font-weight:normal !important;
}

.radioz { 
	font-family: 'Open Sans', sans-serif !important;
	font-size: 8pt !important;
	font-weight: bold !important;
    float: right;
	vertical-align: bottom;
}

.pinworker {
	height: 200px;
	width: 100%;
	overflow: auto;
	overflow-x: auto !important;
	overflow-y: auto !important;
	max-height: 200px !important;
}

.worker, .ignworker {
	font-family: arial,arial narrow,tahoma,sans;
	font-weight: normal;
	font-size: 10pt;
}

.rowdel td {
	background-color: #FFCCDD !important;
	background: #FFCCDD !important;
}

.rowadd td {
	background-color: #CCFFDD !important;
	background: #CCFFDD !important;
}

.rowrev td {
	background-color: #FFCCFF !important;
	background: #FFCCFF !important;
}

.rowchg td {
}

td.colchg  {
	background-color: #FFFFCC !important;
	background: #FFFFCC !important;
}

.filetext {
	height: 6em;
	max-height: 6em;
	width: 100%;
    resize: none;
	overflow-x: auto !important;
	overflow-y: auto !important;
}

label {
	margin-top: 6px;
	font-weight: normal !important;
}

.normalinput {
	margin-top: 4px !important;
}

.normaltext {
	margin-top: 0 !important;
}

select {
	width: 198px;
	font-size: 9pt !important;
	font-weight: normal !important;
}

option {
	font-size: 9pt !important;
	font-weight: normal !important;
}

.selectoverflow {
	height: 200px;
}

/* Begin John Sardine table */
table a:link {
	color: #666;
	font-weight: bold;
	text-decoration:none;
}
table a:visited {
	color: #999999;
	font-weight:bold;
	text-decoration:none;
}
table a:active,
table a:hover {
	color: #bd5a35;
	text-decoration:underline;
}
table {
	font-family:Arial, Helvetica, sans-serif;
	color:#666;
	font-size:12px;
	text-shadow: 1px 1px 0px #fff;
	background:#eaebec;
	margin:0px;
	border:#ccc 1px solid;

	-moz-border-radius:3px;
	-webkit-border-radius:3px;
	border-radius:3px;

	-moz-box-shadow: 0 1px 2px #d1d1d1;
	-webkit-box-shadow: 0 1px 2px #d1d1d1;
	box-shadow: 0 1px 2px #d1d1d1;
}
table th {
	padding:3px 3px 3px 3px;
	border-top:1px solid #fafafa;
	border-bottom:1px solid #e0e0e0;

	background: #ededed;
	background: -webkit-gradient(linear, left top, left bottom, from(#ededed), to(#ebebeb));
	background: -moz-linear-gradient(top,  #ededed,  #ebebeb);
}
table th:first-child {
	text-align: left;
	padding-left:3px;
}
table tr:first-child th:first-child {
	-moz-border-radius-topleft:3px;
	-webkit-border-top-left-radius:3px;
	border-top-left-radius:3px;
}
table tr:first-child th:last-child {
	-moz-border-radius-topright:3px;
	-webkit-border-top-right-radius:3px;
	border-top-right-radius:3px;
}
table tr {
	text-align: center;
	padding-left:3px;
}
table td:first-child {
	text-align: left;
	padding-left:3px;
	border-left: 0;
}
table td {
	padding:3px;
	border-top: 1px solid #ffffff;
	border-bottom:1px solid #e0e0e0;
	border-left: 1px solid #e0e0e0;

	background: #fafafa;
	background: -webkit-gradient(linear, left top, left bottom, from(#fbfbfb), to(#fafafa));
	background: -moz-linear-gradient(top,  #fbfbfb,  #fafafa);
}
table tr.even td {
	background: #f6f6f6;
	background: -webkit-gradient(linear, left top, left bottom, from(#f8f8f8), to(#f6f6f6));
	background: -moz-linear-gradient(top,  #f8f8f8,  #f6f6f6);
}
table tr:last-child td {
	border-bottom:0;
}
table tr:last-child td:first-child {
	-moz-border-radius-bottomleft:3px;
	-webkit-border-bottom-left-radius:3px;
	border-bottom-left-radius:3px;
}
table tr:last-child td:last-child {
	-moz-border-radius-bottomright:3px;
	-webkit-border-bottom-right-radius:3px;
	border-bottom-right-radius:3px;
}
table tr:hover td {
	background: #f2f2f2;
	background: -webkit-gradient(linear, left top, left bottom, from(#f2f2f2), to(#f0f0f0));
	background: -moz-linear-gradient(top,  #f2f2f2,  #f0f0f0);	
}
/* End John Sardine Table */

